body {
    background: linear-gradient(90deg, #000000, #24004d); /* 배경 그라데이션 설정 */
    color: white;
    height: 100vh;
}
.hello{
    margin: 0; /* body의 기본 마진을 제거합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_s {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    color: black;
}

.rounded-box {
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 200px; /* 가로 크기를 2배로 늘립니다. */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #6062ED;
    font-size: 36px; /* 글씨 크기를 조절합니다. */
}

.square-box {
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 800px; /* 가로 크기를 2배로 늘립니다. */
    border-radius: 20px;
    border: 5px solid #6062ED;
    font-size: 36px; /* 글씨 크기를 조절합니다. */
}

.rounded-box2 {
    margin-top: 180px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    border: 5px solid #6062ED;
    color: black;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 26px;
}

.toggle-container {
    display: flex;

    justify-content: center;
    /*align-items: center;*/
    margin-top: 20px;
    margin-bottom: 30px;
}
.mg{
    margin-top:50px;
}
/* 버튼 스타일 */
.start-button {
    /*background: linear-gradient(45deg, #007bff, #00ccff); !* 푸른색 계열 그라데이션 배경 *!*/
    background: linear-gradient(45deg, #6062ED, #2E2F84); /* 그라데이션 효과를 적용한 배경색 */
    /*background: #6062ED;*/
    border: none;
    border-radius: 20px; /* 버튼을 둥글게 만듭니다. */
    color: #ffffff; /* 버튼 텍스트 색상을 흰색(#ffffff)으로 설정 */
    padding: 15px 60px; /* 가로로 1.5배 더 긴 버튼을 만들기 위해 패딩 조절 */
    font-size: 24px; /* 버튼에 맞게 글자 크기 조절 */
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    text-decoration: none; /* 기본 하이퍼링크 스타일 제거 */

}
.start-button:hover{
    background: linear-gradient(45deg, #2E2F84, #6062ED); /* 그라데이션 효과를 적용한 배경색 */
}
.toggle-btn {
    background-color: #6062ED;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height:50px;
    width: 120px;
}

.boxleft{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.boxright{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.toggle-btn.on {
    background-color: #2E2F84;
}
